* {
    margin: auto;
    padding: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    font-family: 'Exo 2', sans-serif;
  }
  div .box{
    margin: 30% 30%;
  }
#formation {
    display: -ms-grid;
    display: grid;
    margin: auto;
    min-height: 50%;
    width: 100vw;
    background: #04377e;
  }
  
  #formation .heading {
    font-size: 45px;
    padding-top: 5rem;
    margin: 2rem 0;
    color: #fff;
    text-align: center;
    position: relative;
  }
  
  #formation .heading::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    border-radius: 5rem;
    background: #333;
  }
  
  #formation .box-container {
    width: 90%;
    margin: auto;
  }
  
  #formation .box-container .box {
    background: #fff;
    max-width: 60rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 .3rem #333;
            box-shadow: 0 0 .3rem #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: auto;
    margin: auto;
    clear: both;
    
  }
  
  #formation .box-container .box img {
    height: 7rem;
    margin: 5px;
    position: relative;
  }
  
  #formation .box-container .box .info {
    padding-left: 2.5rem;
    border-left: 0.4rem solid #04377e;
  }
  
  #formation .box-container .box .info h2 {
    font-size: 20px;
    color: #04377e;
  }
  
  #formation .box-container .box .info p {
    font-size: 1.5rem;
    color: #333;
  }
  
  #formation .box-container .box:nth-child(2) {
    float: center;
  }
  /* ===== end formations==========*/
  





 
 /* reponsive formation */
 @media (max-width: 500px) {
    #formation .box-container .box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      padding: 1.5rem;
    }
    #formation .box-container .box img {
      height: 10rem;
      margin: 1rem;
    }
    #formation .box-container .box .info {
      padding-left: 0;
      padding-top: 3rem;
      border: none;
      text-align: center;
    }
    #formation .box-container .box .info p {
      padding: 1rem;
    }
}